.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.btn{
  height: 50px;
  width: 200px;
  margin: 20px;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
